<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Bingo helper</title>
        <script>
            const origin = window.location.origin
            document.addEventListener("DOMContentLoaded", function() {
                const redo = document.querySelector("#redo")
                const undo = document.querySelector("#undo")
                redo.addEventListener('click', function() {
                    const ans = confirm("Start over?")
                    if (ans === true) {
                        window.location = `${origin}/redo/True`;
                    };
                });
                undo.addEventListener('click', function() {
                    const ans = confirm("Undo last draw?")
                    const test = {{drawn_numbers|safe}};
                    if (ans === true) {
                        window.location = `${origin}/undo/${test[0]}`;
                    };
                });
            });
        </script>
    </head>
    <body>
    {% if current_line %}
        <h2>{{current_line}}</h2>
    {% endif %}
    <h1>{{ gettext("Let's play some bingo!") }}</h1>
    <h4><p>{{ gettext("Current line is") }} {{sesh}}</p></h4>
    <button id="redo">Start over</button>
    <button id="undo">Undo last draw</button>
    <p>{{ gettext("Press the button that corresponds to the drawn number:") }}</p>
    <!-- Create a grid of all bingo numbers -->
    <div class="row">
        <div class="column70">
            <div class="grid-container">
                {% for i in range(1,91) %}
                    {% if i in drawn_numbers %}
                        <a class="btn-group-clicked button"><button class="block-clicked">{{i}}</button></a>
                    {% else %}
                        <a href="/grid/{{i}}" class="btn-group button"><button class="block">{{i}}</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="column30">
            <p>{{ gettext("These are the drawn numbers:") }}</p>
            <p>{{ drawn_numbers|join(', ') }}</p>
        </div>
    </div>
    <div class="row">
        {% if check_close %}
            <h3 style="white-space: pre-line">Missing number for bingo:</h3>
        {% endif %}
    </div>
    <div class="row">
        {% if check_close %}
            {% for key, val in check_close.items() %}
                {% if val | length==1 %}
                    {{key}} in card {{val|join(', ')}}
                {% elif val | length==2 %}
                    {{key}} in cards {{val|join(' and ')}}
                {% else %}
                    {{key}} in cards {{val|join(', ')}}
                {% endif %}
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <div class="outer">
        {% if missing %}
            <h3>Missing one for bingo:</h3>
            {% for i in missing %}
                {{i}} <br>
            {% endfor %}
        {% endif %}
    </div>
    </body>
    <br>
    <div class="outer">
        <h3>What happened on the last draw:</h3>
        {% if message %}
            {% for i in message %}
                {% if i[0]=="Y" %}
                    <h1>{{i}}</h1>
                {% else %}
                    {{i}}
                {% endif %}
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <p>
        <body>
            {{ gettext("What line are we on?") }}
            <div class="grid-container">
                {% for i in range(1,4) %}
                <a href="/newline/{{i}}" class="btn-group button"><button type="button" class="block" value="{{i}}">{{i}}</button></a>
                {% endfor %}
            </div>
        </body>
    <p>
    
</html>

