a { text-decoration: none; }
p {padding: 5px;}
h1 {padding: 5px;}

.btn-group button {
  background-color: rgb(89, 212, 18); /* Green background */
  border: 1px solid rgb(255, 255, 255); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #608b53;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 42px;
  gap: 2px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: 50%;
}

.grid-container > div {
  background-color: rgb(225, 231, 225);
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.row {
  display: flex;
}

.column70 {
  flex: 70%;
}

.column30 {
  flex: 30%;
  padding-right: 10%;
}

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

img {
  max-width:50%;
  height:auto;
}
